nav {
    background-color: rgba(255, 255, 255, 0.801);
    overflow: hidden;
    text-align: center;
    padding: 1%;
    padding-left: 2%;
    width: 100%;
    margin-top: -1%;
    margin-left: -1%;
}

nav a {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 125%;
}

nav a:hover {
    text-decoration: underline;
}

body {
    background-image: url(https://images.unsplash.com/photo-1503614472-8c93d56e92ce?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8NGslMjBsYW5kc2NhcGV8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 500%;
}

h2 {
    text-align: center;
    font-size: 300%;
    color: rgb(0, 0, 0);
}

h3 {
    margin: 3%;
    font-size: 250%;
}

#main {
    background-color: rgba(255, 255, 255, 0.616);
    text-align: center;
}

